@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes cardCircleAnimation {
  0%,
  30%,
  100% {
    transform: translate(-50%, 50%) scale(1);
  }
  15% {
    transform: translate(-50%, 50%) scale(0.95);
  }
}

.card-circle {
  animation: cardCircleAnimation 6s ease infinite;
  position: absolute;
}

.star-animation-loaded {
  opacity: 1;
}

.star-animation {
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 1s ease opacity;
  width: 100%;
  z-index: -1;
}

.d-block {
  display: block !important;
}

.text-heavy {
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 900;
}

.text-extrabold {
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 800 !important;
}

.font-mktg .font-alt-mktg {
  font-family: "Hubot Sans", "Mona Sans", "Mona Sans Fallback", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-feature-settings: "liga", "ss02";
}

.z-2 {
  z-index: 2 !important;
}

.lh-condensed-ultra {
  line-height: 1 !important;
}
.mona-ampersand {
  background: linear-gradient(180deg, #b4bacd 0%, #5b6a98 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}

.z-3 {
  z-index: 3 !important;
}

.text-extra-condensed {
  font-stretch: 65%;
}

.framer-shadow {
  align-content: center;
  align-items: center;
  border-radius: 48px;
  box-shadow: 0 4px 8px #00000014, 0 0 4px #0000000a, 0 1px 1px #0000001f,
    0 0 0 0.5px #00000005;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-items: center;
  justify-content: space-between;
  overflow: visible;
  padding: 8px 10px 8px 8px;
  position: relative;
  width: 100%; /* Use full width by default */

  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    width: 90%; /* Reduce width for screens smaller than 768px */
    padding: 8px; /* Adjust padding for smaller screens */
  }

  /* Add more media queries for other screen sizes as needed */
}

@layer components {
  .token.attr-value {
    @apply text-sky-300;
  }

  .token.punctuation,
  .token.attr-equals {
    @apply text-slate-500;
  }

  .token.attr-name {
    @apply text-slate-300;
  }

  .token.tag {
    @apply text-pink-400;
  }

  .line-numbers-rows > span::before {
    @apply text-gray-600;
  }

  .line-numbers .line-numbers-rows {
    @apply border-none;
  }
}
